<extend name="Public:base"/>

<div id="yzh-content">

<table class="form-table">
    <tbody>
        <tr>
            <th width="140" height="35">
              友情链接：            </th>
            <td>
                <input type="text" style="height:17px;" size="6" value="" name="site_name" class="input-text">&nbsp; &nbsp;（显示个数）
            </td>
        </tr>
        <tr>
            <th width="140" height="35">
                在线客服：</th>
            <td>
               <span><a href="/index.php?a=status&m=module&g=admin&id=9&status=1">开启</a></span>&nbsp; &nbsp;<span><a href="/index.php?a=status&m=module&g=admin&id=9&status=0">关闭</a></span>
            </td>
        </tr>
        <tr>
            <th width="140" height="35">
               分享工具：            </th>
            <td>
                 <span><a href="/index.php?a=status&m=module&g=admin&id=9&status=1">开启</a></span>&nbsp; &nbsp;<span><a href="/index.php?a=status&m=module&g=admin&id=9&status=0">关闭</a></span>
            </td>
        </tr>
        <tr>
            <th width="140" height="35">
                电子地图：            </th>
            <td class="">
                <span><a href="/index.php?a=status&m=module&g=admin&id=9&status=1">开启</a></span>&nbsp; &nbsp;<span><a href="/index.php?a=status&m=module&g=admin&id=9&status=0">关闭</a></span>
            </td>
        </tr>

    </tbody>
</table>

</div>