*{margin: 0;padding:0;}
html{_overflow-y:scroll;}
body{font-size:12px;}
a{color:#000;text-decoration: none;}
#tabs{}
#tabs .title ul{list-style:none;}
#tabs .title ul li{
	float:left;
	height: 25px;
	width: 60px;
	line-height:25px;
	text-align: center;
}
.title{height:25px;background:#ddd;}
.title .on a{color: #999999;}
.content_1{padding: 10px 8px 0;width: 584px;}
.tabbox{display:none;}
#divStatus{height:25px;line-height:25px;padding: 0 0 10px;}
fieldset{border: 1px solid #D8D8D8;padding: 10px;}
fieldset legend {background-color: #F9F9F9;border: 1px solid #D8D8D8;font-weight: 100;padding: 3px 8px;}
.attachment-list .img a.imgx{}
.attachment-list .img a.imgx1{}
.attachment-list .img p{}
.attachment-list .img p a{height: 10px;}