<extend name="Public:base"/>

<block name="main">

<div id="yzh-content" class="col-xs-12">
  <div class="table-header">
  <a href="{:U('User/index')}">管理员列表</a>
  <a href="{:U('User/add')}" >添加管理员</a>
  </div>

  <div class="dataTables_wrapper">
    <div class="row">
    <form action="{:U('user/index')}" method="get" class="form-inline" role="form">
      <input type="hidden" name="g" value="{$Think.GROUP_NAME}" />
      <input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
      <input type="hidden" name="a" value="{$Think.ACTION_NAME}" />

      <div class="form-group">
        {:L('user_select_option')}: <input type="text" name="keyword" class="form-control input-sm" value="{$keyword}"/>
      </div>
      <div class="form-group">
        <select class="form-control input-sm" name="searchtype">
        <option value="username" <eq name="searchtype" value="username">selected</eq>>{:L('username')}</option>
        <option value="realname" <eq name="searchtype" value="realname">selected</eq>>{:L('realname')}</option>
        <option value="id" <eq name="searchtype" value="id">selected</eq>>ID</option>
        </select>
      </div>
      <input type="submit" value="{:L('chaxun')}"  class="btn btn-sm btn-primary" />
      <input type="reset" value="{:L('reset')}" class="btn btn-sm btn-primary"  />
    </form>
    </div>

    <form name="myform" action="{:U('user/deleteall')}" method="post">
      <div class="table-list">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th style="width:20px;"><input type="checkbox" id="check_box" onclick="selectall('ids[]');" /></th>
              <th>序号</th>
              <th>用户名</th>
              <th>邮箱</th>
              <th>所属角色</th>
              <th style="width:150px;">最后登录时间</th>
              <th style="width:100px;">操作管理</th>
            </tr>
          </thead>

          <tbody>
          <volist name="ulist" id="user" key="k">
            {if $user['username']!='admin'}
            <tr>
              <td align="center"><input type="checkbox" name="ids[]" value="{$user['id']}" /></td>
              <td>{$user['id']}</td>
              <td>{$user['username']}</td>
              <td>{$user['email']}</td>
              <td>{$usergroup[$user['groupid']]['name']}</td>
              <td>{$user['last_logintime']|date="Y-m-d H:m:s",###}</td>
              <td>
              <a class="btn btn-xs btn-primary" href="?a=edit&m=user&g=admin&gid=1&id={$user['id']}">编辑</a>
              <a class="btn btn-xs btn-danger" href="javascript:confirm_delete('{:U('user/delete',array(id=>$user['id']))}')">删除</a></td>
            </tr>
            {/if}
          </volist>

          </tbody>
        </table>

        <div class="row">
          <input type="submit" class="btn btn-sm btn-primary" name="dosubmit" value="删除" />
        </div>
      </div>
    </form>

  <div id="pages">{$page}</div>
</div>

</block>