<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--[if lt IE 7 ]><html class="ie6"><![endif]-->
<!--[if IE 7 ]><html class="ie7"><![endif]-->
<!--[if IE 8 ]><html class="ie8"><![endif]-->
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="w3c"><!--<![endif]-->
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- 最新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="__STATIC__/bootstrap/flat/bootstrap.min.css">
<link rel="stylesheet" href="__STATIC__/font-awesome/css/font-awesome.min.css">
<!-- <script type="text/javascript" src="__PUBLIC__/Js/jquery.min.js"></script>  -->
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="__STATIC__/jquery-1.10.2.min.js"></script>

<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
<link rel='stylesheet' type='text/css' href='__PUBLIC__/Css/style.css'>
<link rel='stylesheet' type='text/css' href='__PUBLIC__/Css/artdialog.css'>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.artDialog.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/iframeTools.js"></script>
<link rel='stylesheet' type='text/css' href='__STATIC__/scojs/css/scojs.css'>
<link rel='stylesheet' type='text/css' href='__STATIC__/scojs/css/sco.message.css'>
<script type="text/javascript" src="__PUBLIC__/Js/yzh.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<title>{:L('welcome')}</title>
</head>

<body>

<div id="header">
    <div id="logo">
        <a href="{:U('Index/index')}"><img src="__PUBLIC__/Images/logo.jpg"/></a>
    </div>
    <div class="topnav">
        <ul>
        <volist name="topnav2" id="menu" key="i">
            <li node="{$menu['id']}">
                <a href="{:U($menu['model'].'/'.$menu['action'],$menu['data'])}">
                <i class="{$menu['icon']}"></i>
                <span>{$menu['name']}</span></a>
            </li>
        </volist>
        </ul>
    </div>

    <ul class="header-right pull-right">
        <li>
            <select id="select_lang">
                <volist name="Lang" id="r">
                <option value="{$r['mark']}" <if condition="$l==$r['mark']">selected</if>>{$r['name']}</option>
                </volist>
            </select>
        </li>
        <li> <a href="javascript:update_cache();"><i class="fa fa-lg fa-refresh"></i>更新缓存</a></li>
        <li><a href="/" target="_blank">浏览站点</a></li>
        <li><a href="http://support.yuzihao.com/help" target="_blank">使用帮助</a></li>
    </ul>
</div>

<div id="aside">
    <div class="login-info">
        <a href="javascript:void(0);" id="show-shortcut" >
            <img src="__PUBLIC__/Images/logo4.png" alt="{$Think.session.username}" class="img-circle">
        </a>
        <dl>
            <dt>{$Think.session.username}</dt>
            <dd>
            <a href="{:U('Index/profile')}">帐号设置</a>
            <a id="logout" href="{:U('Login/logout')}">安全退出</a>
            </dd>
        </dl>
    </div>
    <div class="navbar">

        <foreach name="asidenav2" item="li" key="i">
        <ul class="asidenav" node="{$i}">
            <volist name="li" id="menu" key="k">
            <li node="{$menu['id']}">
                <a href="{:U($menu['model'].'/'.$menu['action'],$menu['data'])}">
                <i class="fa fa-lg fa-caret-right"></i><span>{$menu['name']}</span>
                </a>
            </li>
            </volist>
        </ul>
        </foreach>

    </div>
</div>

<div id="main">
  <block name="main"></block>
</div>


<script type="text/javascript">

var APP = '';
var ROOT = '';
var PUBLIC = '/Public';


window.onload = function (){
  if(!+"\v1" && !document.querySelector) { // for IE6 IE7
    document.body.onresize = init;
  } else {
    window.onresize = init;
  }

  $('#logout').click(function(){
    var url = $('#logout').attr('href');
    $.ajax({
      url: url,
      success:function(data){
        $.scojs_message(data, $.scojs_message.TYPE_OK);
        window.location.href = "{:U('Login/index')}";
      }
    });
    return false;
  })
}

//更新缓存
function update_cache(){
    $.ajax({
        url:'{:U('Admin/cache')}',
        success:function(data){
            $.scojs_message(data, $.scojs_message.TYPE_OK);
            window.location.reload();
        }
    });
}


//返回浏览器可见区高度
function getWindowHeight(){
    return window['innerHeight']||
    document.compatMode === "CSS1Compat" && document.documentElement['clientHeight'] || document.body['clientHeight'];
}
//打开浏览器就执行自定义初始函数
function init(){
    var heights=getWindowHeight()-130;
    $('#pageleft').height(heights);
    if($('#pageleft').height()>heights){
        var width=$('#pageleft').width();
        $('#pageleft').width(width+12);
    }
    //设置右主体内容高度
    $('#pagerightMain').height(heights);
}
init();


// 更换语言
$("#select_lang").change(function(){
  var lang = $("#select_lang").find("option:selected").val();
  window.location.href = "/index.php?a=index&m=index&g=admin&l="+lang;
});


//顶部菜单JS
$('.topmenu li').click(function(){
  var numorder = this.id.split('_')[1];
  var url = $('#pm_'+numorder).find("li:eq(0) a").attr('href');
  location.href = url;
})

// 确认删除
function confirm_delete(url){
  $.scojs_confirm({
    content: "<h4>确认要删除信息吗?</h4>",
    action: function(){
      $.ajax({
        url:url,
        success:function(data){
          $.scojs_message(data.info, $.scojs_message.TYPE_OK);
          window.location.reload();
        }
      });
    }
  }).show();
}

// 菜单特效
var topnav = getcookie('topnav');
if (topnav=='') {
    topnav = 1;
}

var asidenav = getcookie('asidenav');
if (asidenav=='') {
    asidenav = 7;
}

$('li[node='+topnav+']').addClass('active');

$('.topnav li').click(function(){
    var node = $(this).attr('node');
    setcookie('topnav', node)
    asidenav = $('ul[node='+node+'] li').eq(0).attr('node');
    setcookie('asidenav', asidenav)
});

$('.asidenav li').click(function(){
    var node = $(this).attr('node');
    setcookie('asidenav', node)
});

$('ul[node='+topnav+']').show();
$('.asidenav li[node='+asidenav+']').addClass('active');
$('.asidenav li[node='+asidenav+'] a i').attr('class', 'fa fa-square');

</script>
<!-- 引入js -->
<script type="text/javascript" src="__STATIC__/scojs/js/sco.modal.js"></script>
<script type="text/javascript" src="__STATIC__/scojs/js/sco.message.js"></script>
<script type="text/javascript" src="__STATIC__/scojs/js/sco.confirm.js"></script>

<script type="text/javascript" src="__PUBLIC__/Js/jquery.validate.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/Js/jquery.colorpicker.js"></script>
<script type="text/javascript" src="__STATIC__/MyDate/WdatePicker.js"></script>
</body>
</html>