<extend name="Public:base"/>

<block name="main">
<div id="yzh-content">
    <div class="main-title">
        <h2>流量监控</h2>
    </div>

    <form method='post' id="form1" class="form-horizontal" action="{:U('config/dosite')}">

        <volist name="liul_config" id="vo">
        <if condition="$vo[varname]=='site_tongji'">
            <div class="form-group">
                <label class="control-label col-md-2">{$vo.info}:</label>
                <div class="col-md-8">
                <textarea class="form-control" id="" rows="7" cols="80"   name="{$vo.varname}">{$vo.value}</textarea><a style="margin-left:15px;" target="_blank" href="http://tongji.baidu.com/web/welcome/login">注册百度统计</a><br/>(您可以将第三方的流量监控代码放置在此区域，并将查看账户与查看密码备注在下方，点击登录输入账户和密码即能查看网站状态统计数据。)</div>
            </div>
        <else/>
        {if $vo['info']=="登录网址"}
            <div class="form-group">
                <label class="control-label col-md-2">{$vo.info}:</label>
                <div class="col-md-8">
                <input type="text" class="form-control"  name="{$vo.varname}" value="{$vo.value}" size="40"><a style="margin-left:15px;" target="_blank" href="{$vo.value}">点击登录</a></div>
            </div>
        {else}
            <div class="form-group">
                <label class="control-label col-md-2">{$vo.info}:</label>
                <div class="col-md-8">
                <input type="text" class="form-control"  name="{$vo.varname}" value="{$vo.value}" size="40">
                </div>
            </div>
        {/if}
        </if>
        </volist>


        <div class="form-actions">
            <input type="submit" value="保存" class="btn btn-sm btn-primary">
            <input type="reset" value="重置" class="btn btn-sm btn-primary">
        </div>

    </form>

</div>

</block>