@charset "utf-8";
/* CSS Document */
/*
	@名称: common.css--内页部分
	@日期: 20114-04-17
	@功能: C+云优化型手机网站浏览器样式渲染
	@作者: 深圳市国人天下电子商务有限公司C+前端架构师
	@版权: 深圳市国人天下电子商务有限公司(http://www.ceotx.com)保留
*/

.g-nava{ padding:0 0 0 1%; background-color:#01bfa6;height:35px; display:block;}
.g-nava li {float: left;height: 33px;line-height: 33px;text-align: center;}
.g-nava li a {color: #fff; text-indent:20px; font-size:14px; height:35px; line-height:35px; width:100%; margin:0 auto; display:block; text-align:left; }
.g-nava li.goback{/* background:url(../images/goback.jpg) no-repeat 9% center; background-size:15%;*/ width:33%;}
.g-nava li.goindex{/* background:url(../images/goindex.jpg) no-repeat 7% center; background-size:14%;*/ width:36%; text-indent:20px;}
.g-nava li.goclass{/* background:url(../images/goclass.jpg) no-repeat 35% center; background-size:15%;*/ width:30%;}
.g-nava li.goclass a{ text-align:center;}
.g-nava li a img{ max-height:20px; margin:-4px 10px 0 0;}
.g-nava li.goback a img{ margin-left:-10px;}

.daohang{ margin:0px auto 0; padding:10px 5% 5px; color:#999; display:none;}
.daohang ul{ display:block; text-align:center;}
.daohang ul li{ float:left; width:25%; height:20px; line-height:20px; overflow:hidden; display:block; text-align:center; background:url(../images/line3.jpg) no-repeat right top; margin:10px 0;}
.daohang ul li a{ color:#666; font-size:14px;}
.daohang ul li a:hover{ color:#fe8f01;}
.daohang ul li:nth-child(4n) { background:none;}

.ny_banner{ width:100%;}
.ny_banner img{ width:100%;}

.position{ height:35px; line-height:35px; background-color:#ececec;/* padding:0 20px;*/ text-indent:15px;}
.position a{ cursor:pointer;}
.position .fenlei{ float:right; margin-right:10px; text-indent:0; display:block; height:35px; padding-left:30px; background:url(../images/fenlei.jpg) no-repeat 10px center; background-size:15px;}
.position .fenlei:active,.position .fenlei:hover{ color:#fe8f01; background:url(../images/fenleia.jpg) no-repeat 10px center; background-size:15px;}
.positionb{ height:8px; overflow:hidden;/* background:url(../images/arcb.jpg) no-repeat 30px top; background-size:3%*/}
.positionb img{ float:left; margin-left:25px; max-height:100%;}

.cont{ padding:15px 10px; line-height:22px; font-size:14px;}
.cont h1{ font-size:16px; text-align:center;}
.cont h2{ font-size:14px; text-align:center; height:30px; line-height:30px; border-bottom:2px solid #00bfb0; text-align:left; text-indent:10px;/* background:url(../images/arcc.jpg) no-repeat left center; background-size:5%;*/}
.cont h2 img{ max-height:15px; margin:-4px 10px 0 -5px;}
.cont img{ max-width:100%;}
.cont p.b10 img{ max-width:100%;}
#slide_box{ margin:10px 0; text-align:center; background-color:#fff;}
#slide_box img{ max-height:100%;}
.cont .time{ text-align:center; border-bottom:1px solid #dedede; line-height:20px; color:#a8a8a8; padding:5px 0; margin-bottom:10px;}
.cont p{ font-size:12px;}
.cont table{ width:100%;word-break: break-all;}

#slide_box ul li{ width:100%; display:table-cell; vertical-align:middle; height:300px; display:block;}

.slide_swipe {overflow: hidden;position: relative; margin:10px 0; text-align:center; border:1px solid #d4d4d4;}
.slide_swipe>ol {position:absolute;z-index: 10;text-align: center; width:100%;}
.slide_swipe>ol>li.on {
background-color: rgba(255, 132, 0, 1);
}
.slide_swipe>ol>li {
display: inline-block;
margin: 2px;
width: 8px;
height: 8px;
border-radius: 1000px;
background-color: rgba(200, 200, 200, 1);
}
.slide_swipe ul li a img{ max-width:100%;}

#xgcp li{ float:left; width:30%; margin:0 4px; text-align:center;}
#xgcp li div{ width:90px; height:90px; border:1px solid #dedede; background-color:#fff; overflow:hidden;}
#xgcp li div img{ max-width:100%;}
#xgcp li p{ height:20px; line-height:20px; overflow:hidden;}
#xgcp li:nth-child(3n){ margin-right:0;}

#xgxw li{ height:30px; line-height:30px; overflow: hidden; background:url(../images/arc.jpg) no-repeat 5px center; text-indent:17px;}

.news_list{ padding:10px;}
.news_list ul li{ border-bottom:1px solid #d4d4d4; padding:0 0 10px 0;}
.news_list ul li h2{/* background:url(../images/arcc.jpg) no-repeat left center; background-size:5%;*/ text-indent:10px; height:30px; line-height:30px; overflow:hidden; font-size:14px; color:#000;}
.news_list ul li h2 img{ max-height:15px; margin:-5px 5px 0 -5px;}
.news_list ul li p{ line-height:20px; padding-bottom:5px; color:#636363;}

#tags{ text-indent:0; background:none; border-bottom:2px solid #00bfb0; padding:0;}
#tags li{float: left; width:30%; height: 30px; line-height:30px; margin:5px 0px 0 0px;}
#tags li a{ float:left; display:block; width:100%; height:30px; text-align:center; color: #000; font-size:14px; font-family:"微软雅黑"; background-color:#e5e5e5;}
#tags li a:hover{  color: #a50000;text-decoration:none;}
#tags li.selectTag{ height: 30px;}
#tags li.selectTag a,#tags li.selectTag a:active{ color: #fff; line-height:30px; height:30px; background-color:#00bfb0; }
#tags li.selectTag a:hover{ text-decoration:none;}
#tags li:nth-child(2){ float:left; margin:5px 5% 0;}
#tags li:nth-child(3){ float:right; margin-right:0;}

#tagContent{ overflow:hidden;}
.tagContent{ display: none;}
#tagContent div.selectTag{	display: block;}

#tagContent .contact,#tagContent .guest{ padding:10px 0;}
#tagContent .contact li{ float:left; width:33%; margin:10px 0 5px 0;}
#tagContent .contact li div{ width:80px; height:80px; text-align:center; margin:0 auto; border:1px solid #fff; border-radius:5px; background-color:#fff; box-shadow: 2px 2px 5px #dedede}
#tagContent .contact li div img{ max-width:65%;}

#tagContent .guest li{ float:left; width:100%; display:block; line-height:30px; margin:5px 0;}
#tagContent .guest li label{ float:left; width:17%; height:30px; line-height:30px; text-align:right; color:#616161;}
#tagContent .guest li .guest_a,#tagContent .guest li .guest_b,#tagContent .guest li .guest_d{ float:left; width:80%; height:28px; line-height:28px; border:1px solid #c6c6c6; border-radius:3px; margin:0; padding:0 0 0 1%; font-size:12px;}
#tagContent .guest li .guest_b{ height:72px; font-size:12px; font-size:12px; padding:0 0 0 1%;}
#tagContent .guest li .guest_c{ margin:5px auto 0; width:98%; display:block; height:35px; line-height:35px; text-align:center; color:#fff;background-image:-webkit-linear-gradient(top,#ff9000, #ff6000); color:#fff; font-size:12px; font-size:12px;}
,#tagContent .guest li .guest_d{ float:left; width:100px; text-align:center;}
#tagContent .guest li img{ height:30px;}

/*分类样式*/
.catalog { width: 100%; position: absolute; left:0; top: 0; z-index: 1; background-color: rgba(0,0,0,0.6); -webkit-transition:-webkit-transform .2s ease-in; display: none; z-index:100; padding:10px 0 0 0; overflow:hidden;}
.catalog>ul {width: 50%; background-color: rgba(0,0,0,0.4); position:absolute; top: 0; right: 0; padding-top:10px;}
.catbtn { background-color: rgba(0,0,0,0.4); position:fixed; top: 200px; left: 50%; margin-left: -30px; color: #fff; font-size: 14px; border-radius: 6px 0 0 6px; width: 30px; text-align: center; padding: 10px 0; display: block;}
.catalog ul li { width: 90%; margin:0 auto; border-bottom: 1px solid rgba(255,255,255,0.25);}
.catalog ul li a { width: 90%; text-indent:5px; display: block; line-height: 30px; color: #fff; font-size: 14px; text-overflow:ellipsis; white-space: nowrap; overflow: hidden;}
.catalog>ul li a {background: url(../images/arrow2.png) no-repeat right center; background-size: 5px;}
.catalog ul li ul li:last-child {border-bottom: none;}
.catalog ul li ul li { margin-left: 13px;}
.subcatalog { display: none;}

.catalog ul li a:first-child{background: url(../images/arrow3.png) no-repeat right center; background-size: 8px;}
.catalog ul li a:nth-child(2),.catalog ul li a:nth-child(3){background: url(../images/arrow2.png) no-repeat right center; background-size: 8px;}

.product_lista li{ float:left; text-align:center; width:50%; text-align:center; margin:5px 0 10px 0;}
.product_lista li div{ margin:0 auto; width:130px; height:130px; text-align:center; vertical-align:middle; overflow:hidden; border:1px solid #dedede;box-shadow:0px 0px 3px 1px #dedede; background-color:#fff;}
.product_lista li div img{ width:100%;}
.product_lista li p{ width:100%; height:30px; overflow:hidden; line-height:30px; color:#000; text-align:center;}