@charset "utf-8";
/* CSS Document */
/*
	@名称: index.css--首页部分
	@日期: 20114-04-17
	@功能: C+云优化型手机网站浏览器样式渲染
	@作者: 深圳市国人天下电子商务有限公司C+前端架构师
	@版权: 深圳市国人天下电子商务有限公司(http://www.ceotx.com)保留
*/
.tjcp li{ float:left; text-align:center; width:46%; text-align:center; margin:5px 2% 10px 2%;}
.tjcp li div,.rollBox .ScrCont dd div,.rollBoxa .ScrConta dd div{ width:98%; height:98%; display:table-cell; text-align:center; vertical-align:middle; overflow:hidden; border:1px solid #dedede;box-shadow:0px 0px 3px 1px #dedede; background-color:#fff;}
.tjcp li div img{max-width:100%; max-height:100%; display:block; margin:0 auto; vertical-align:middle;}
.tjcp li p{ height:30px; overflow:hidden; line-height:30px; color:#000;}
 
.gsys li{ float:left; display:inline-table;padding:10px 0 10px 4%;width:96%; height:60px; overflow:hidden;}
.gsys li label{font-size:12px; color:#383838; line-height:18px; height:60px; overflow:hidden; white-space:normal;}
.gsys li label b{font-size:18px;color:#ff6000;font-family:"微软雅黑"; line-height:20px;}
.gsys li span{ float:left; display:block; width:60px; line-height:60px; text-align:center; vertical-align:middle; color:#fff; border-radius:8px; font-size:30px; margin-right:10px;
	background-image:-webkit-linear-gradient(left,#ff6000, #ff9000);background-image:linear-gradient(left,#ff6000,#ff9000);font-family:"微软雅黑";}

.rollBox,.rollBoxa{ padding:15px 0;} 
.rollBox .LeftBotton,.rollBox .RightBotton,.rollBoxa .LeftBottona,.rollBoxa .RightBottona{height:100px;width:5%; padding-top:50px;/*background:url(../images/arc_2.gif) no-repeat left 65px;background-size:100%;*/overflow:hidden;float:left;display:inline;margin:0px 0 0 0;cursor:pointer;} 
.rollBox .RightBotton,.rollBoxa .RightBottona{/*background:url(../images/arc_1.gif) no-repeat left 65px;background-size:100%;*/} 
.rollBox .Cont,.rollBoxa .Conta{float:left; width:90%;overflow:hidden;} 
.rollBox .ScrCont,.rollBoxa .ScrConta{width:10000000px;} 
.rollBox #List1,.rollBox #List2,.rollBoxa #Lista1,.rollBoxa #Lista2{float:left;} 

.rollBox .ScrCont dd,.rollBoxa .ScrConta dd{ float:left; display:block; width:140px; overflow:hidden; text-align:center; margin:10px 0; }
.rollBox .ScrCont dd div,.rollBoxa .ScrConta dd div{ width:120px; height:120px; margin:0 auto;}
.rollBox .ScrCont dd div img,.rollBoxa .ScrConta dd div img{ max-width:100%;}

.cases{ padding:10px 5%;}
.cases li{ float:left; width:30%; height:35px; margin:10px 3% 10px 0%; overflow:hidden; border:1px solid #d3d3d3; box-shadow:0px 0px 3px #e5e5e5 ;text-align:center; vertical-align:middle; background-color:#fff; text-align:center;}
.cases li a{ display:table-cell; height:35px; vertical-align:middle;}
.cases li a img{ max-width:100%;}
.cases li:nth-child(3),.cases li:nth-child(6){ margin-right:0;}

#tags,#tagsa { text-indent:0;}
#tags li,#tagsa li {float: left; width:80px; height: 30px; line-height:30px; margin:5px 0px 0 20px;}
#tags li a,#tagsa li a { float:left; display:block; width:100%; height:30px; text-align:center; color: #333; font-size:14px; font-family:"微软雅黑"; background:url(../images/tab_li.jpg) no-repeat left top; background-size:100%;}
#tags li a:hover,#tagsa li a:hover{  color: #a50000;text-decoration:none;}
#tags li.selectTag,#tagsa li.selectTag { height: 30px;}
#tags li.selectTag a,#tags li.selectTag a:active ,#tagsa li.selectTaga a,#tagsa li.selectTaga a:active { color: #a50000; line-height:30px; height:30px; background:url(../images/tab_on.jpg) no-repeat left top; background-size:100%;}
#tags li.selectTag a:hover,#tagsa li.selectTag a:hover{ text-decoration:none;}

.news_i{/* width:380px; */display:block; padding:15px;}
.news_i li{line-height:26px; height:26px; overflow:hidden; padding-left:15px; border-bottom:1px dashed #cfd3d6; background:url(../images/arc.jpg) no-repeat 0px center;}
.news_i li a{ font-size:12px;}
.news_i li label{ float:right; margin-right:5px; color:#999;}

#tagContent,#tagContenta { overflow:hidden;}
.tagContent,.tagContenta { display: none;}
#tagContent div.selectTag,#tagContenta div.selectTaga {	display: block;}

.gywm{ padding:20px 20px; line-height:20px;}
.gywm img{ float:left; margin:5px 10px 0 0; width:120px;}

.ad{ width:100%;}
.ad img{ width:100%;}


.rollBox, .rollBoxa { overflow: hidden; padding:0; margin: 15px 0px;}
.leftbtn, .scroller, .rightbtn, .leftbtn2, .scroller2, .rightbtn2 { display:inline-block;}
.scroller{ margin:0 auto;}
.leftbtn, .leftbtn2 { background:url(../images/arc_2.gif) no-repeat center 50px;}
.rightbtn, .rightbtn2 { background: url(../images/arc_1.gif) no-repeat center 50px;}
.leftbtn, .rightbtn , .leftbtn2, .rightbtn2 { float:left; width: 20px; height: 115px; background-size: 15px;}
.rightbtn, .rightbtn2{ float:right;}
.scroller, .scroller2 { overflow: hidden;}
.scroller ul, .scroller2 ul { float:left; overflow: hidden;}
.scroller li, .scroller2 li { float: left; overflow:hidden;}
.scroller li a, .scroller2 li a { display: block; padding:3px 0px 0 5px;}
.scroller li div, .scroller2 li div {width: 132px; height: 132px; border: 1px solid #ccc; box-sizing: border-box; text-align: center; display: table-cell; vertical-align:middle;}
.scroller li span, .scroller2 li span {width: 132px; height:30px; line-height:30px; text-align: center; display: block; font-size: 12px;}
.scroller li img, .scroller2 li img { display: block; max-width: 100%;}
.srobody, .srobody2 { overflow: hidden; width: auto; -webkit-transition:-webkit-transform .2s ease-in;}