<extend name="Public:base"/>

<block name="main">

<div id="main-box">


  <form action="{:U('user/index')}" method="get" class="form-inline" role="form" style="padding:8px;">
    <input type="hidden" name="g" value="{$Think.GROUP_NAME}" />
    <input type="hidden" name="m" value="{$Think.MODULE_NAME}" />
    <input type="hidden" name="a" value="{$Think.ACTION_NAME}" />  

    <div class="form-group">
      {:L('user_select_option')}: <input type="text" name="keyword"  class="form-control input-sm" value="{$keyword}"/>
    </div>
    <div class="form-group">
      <select class="form-control input-sm" name="searchtype">
      <option value="username" <eq name="searchtype" value="username">selected</eq>>{:L('username')}</option>
      <option value="realname" <eq name="searchtype" value="realname">selected</eq>>{:L('realname')}</option>
      <option value="id" <eq name="searchtype" value="id">selected</eq>>ID</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control input-sm" name="groupid">
        <option value="">{:L('user_group')}</option>
        <volist name="usergroup" id="row">
        {if $row['status']==1}
        <option value="{$row['id']}" <eq name="groupid" value="$row['id']">selected="selected"</eq>>{$row['name']}</option>
        {/if}
      </volist>

      </select>
    </div>
    <input type="submit" value="{:L('chaxun')}"  class="btn btn-sm btn-primary" />
    <input type="reset" value="{:L('reset')}" class="btn btn-sm btn-primary"  />
  </form>


  <form name="myform" action="{:U('user/deleteall')}" method="post">

    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th style="width:20px;"><input type="checkbox"  id="check_box"  onclick="selectall('ids[]');" /></th>
          <th>ID</th>
          <th align="left">{:L('username')}</th> 
          <th >{:L('user_group')}</th>
          <th >{:L('email')}</th>
          <th style="width:150px;">{:L('user_reg_time')}</th>  
          <th >{:L('status')}</th>
          <th style="width:100px;">{:L('manage')}</th>
        </tr>
      </thead>

      <tbody>

      <volist name="ulist" id="user" key="k">

          <tr>
          <td align="center"><input type="checkbox" name="ids[]" value="{$user['id']}" /></td>
          <td align="center">{$user['id']}</td>
          <td>{$user['username']}</td>
          <td align="center">{$usergroup[$user['groupid']]['name']}</td>
          <td>{$user['email']}</td>
          <td align="center">{$user['createtime']|date="Y-m-d H:m:s",###}</td>         
          <td align="center">
          <eq name="user['status']" value="1">
          {:L('enable')}
          <else />
          {:L('disable')}
          </eq>
          </td>
          <td align="center">
          <a class="btn btn-xs btn-primary" href="{:U('User/edit',array('gid'=>1,'id'=>$user['id']))}">{:L('edit')}</a>
          <a class="btn btn-xs btn-danger" href="javascript:confirm_delete('{:U('user/delete',array(id=>$user['id']))}')">{:L('delete')}</a></td>          
          </tr>

      </volist>
      </tbody>
    </table>

    <div style="padding:5px;">
      <input type="submit" class="btn btn-sm btn-primary" name="dosubmit" value="<?php echo L('delete')?>" />
    <div class="pull-right"> 
      <a href="{:U('User/add')}" class="btn btn-sm btn-primary">添加管理员</a>
    </div>

    </div>

  </form>

  <div id="pages">{$page}</div>
</div>

</block>