/* DB_gallery */
#DB_gallery{width:600px;margin:0 auto;border:5px solid #e3e3e3;padding:5px;}
#DB_gallery .DB_imgSet {position:relative;height:440px;overflow:hidden;}
#DB_gallery .DB_imgSet .DB_imgWin{height:100%}
#DB_gallery .DB_imgSet .DB_page{position:absolute;bottom:0;font:11px tahoma bold;padding:5px;color:#ffffff}
#DB_gallery .DB_imgSet .DB_page .DB_current{color:#ffff00}
#DB_gallery .DB_imgSet .DB_page .DB_total{color:#ffcc00}
#DB_gallery .DB_imgSet .DB_prevBtn{position:absolute;top:50%;margin-top:-45px;cursor:pointer;left:0;}
#DB_gallery .DB_imgSet .DB_nextBtn{position:absolute;top:50%;margin-top:-45px;cursor:pointer;right:0;}

#DB_gallery .DB_thumSet {position:relative;margin-top:10px;width:600px;overflow:hidden}
#DB_gallery .DB_thumSet .DB_thumMove{position:relative;white-space:nowrap;font-size:0}
#DB_gallery .DB_thumSet .DB_thumMove li{display:inline;margin-right:11px}
#DB_gallery .DB_thumSet .DB_prevPageBtn{position:absolute;top:0;cursor:pointer;left:0;}
#DB_gallery .DB_thumSet .DB_nextPageBtn{position:absolute;top:0;cursor:pointer;right:0;}
#DB_gallery .DB_thumSet .DB_thumLine{position:absolute;width:82px;height:56px;border:5px solid #b60000;left:0;top:0}