<extend name="Public:base"/>

<block name="main">

<div class="box_con">
  <form id="myform" name="myform" method='post' action="{:U('Config/insert')}">
    <table class="form-table" >
     
      <tr>
        <th style="width:140px;">{:L('var_name')}:</th>
        <td><input type="text" class="input-text"  name="varname" value=""   validate=" required:true, english:true, minlength:2, maxlength:20,"  > </td>
      </tr>
       
      <tr>
        <th>{:L('var_info')}:</th>
        <td><input type="text"  class="input-text"  name="info" value="" validate=" required:true, cn_username:true, minlength:2, maxlength:20," ></td>
      </tr>

      <tr>
        <th>{:L('var_value')}:</th>
        <td><input type="text"  class="input-text" name="value" value="" size="50" ></td>
      </tr>
      <tr>
        <th>{:L('var_group')}:</th>
        <td>
          <select name="groupid">
            <option value="1">{:L('commentset')}</option>
            <option value="2">{:L('config_site')}</option>
            <option value="3">{:L('config_use')}</option>
            <option value="4">{:L('config_mail')}</option>
            <option value="5">{:L('config_attach')}</option>
            <option value="6">{:L('config_sys')}</option>
            <option value="7">{:L('config_social')}</option>
          </select>
          </td>
      </tr>
    </table>
    <div class="btn">
      <input type="hidden" id="groupid" name="groupid" value="1"/>
      <input type="submit" value="{:L('save')}" class="btn btn-sm btn-primary" />
      <input type="reset" value="{:L('reset')}" class="btn btn-sm btn-primary" />
    </div>
  </form>
</div>

</block>