<extend name="Public:base"/>

<block name="main">

<div id="main-box">
  <form id="myform" name="myform" action="<if condition="$action_name=='edit'">{:U('Posid/update')}<else />{:U('Posid/insert')}</if>" method="post">
    <table>

      <tr>
        <td width="120">{:L('Posid_name')}</td>
        <td><input type="text" name="name" class="inputbox" value="{$vo['name']}" validate="required:true,cn_username:true, minlength:2, maxlength:20" /></td>
      </tr>

    </table>
    <div class="btn">      
      <if condition="$action_name=='edit'"><input type="hidden" id="id" name="id" value="{$vo['id']}" /></if>
      <input type="submit" value="{:L('dosubmit')}" class="btn btn-sm btn-primary">
      <input type="reset" value="{:L('cancel')}" class="btn btn-sm btn-primary">
    </div>
  </form>
</div>
</block>