<extend name="Public:base"/>

<block name="main">
<div id="main-box">
  <div class="jarviswidget jarviswidget-sortable" id="wid-id-0" role="widget">
    <header role="heading">
      <span class="widget-icon"> <i class="fa fa-table"></i> </span>
      <h2>模型管理</h2>
      <a href="{:U('Module/add')}">添加模型</a>
      <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
    </header>

    <div role="content">
    <div class="widget-body no-padding">
      <form name="myform" action="{:U('Module/listorder')}" method="post">
        <table class="table table-bordered table-hover table-condensed">
          <thead>
            <tr>
              <th width="40">ID</th>
              <th width="90" align="left" >{:L('module_name')}</th>
              <th width="90" align="left" >{:L('module_table')}</th>
              <th width="300" align="left" >{:L('module_description')}</th>
              <th class="manage table-cell-3">{:L('manage')}</th>
            </tr>
          </thead>
          <tbody>
            <volist name="list" id="vo" key="k">
            <tr>
              <td align="center">{$vo['id']}</td>
              <td>{$vo['title']}</td>
              <td>{$vo['name']}</td>
              <td>{$vo['description']}</td>
              <td class="manage table-cell-3">
                <a href="{:U('Field/index',array(moduleid=>$vo['id']))}">{:L('module_field')}</a>
                <a href="{:U('module/edit',array(id=>$vo['id']))}">{:L('edit')}</a>
                <if condition="$vo[status]==1">
                <a href="{:U('module/status',array(id=>$vo['id'],status=>0))}"><font color="red">{:L('disable')}</font></a>
                <else />
                <a href="{:U('module/status',array(id=>$vo['id'],status=>1))}"><font color="green">{:L('enable')}</font></a>
                </if>
                <if condition="$vo['issystem']">
                  <font color="#CFCFCF">{:L('delete')}</font>
                <else />
                  <a href="{:U('module/delete',array(id=>$vo['id']))}"  onclick="return confirm('{:L('module_real_uninstall')}')">{:L('delete')}</a>
                </if>
              </td>
            </tr>
            </volist>
          </tbody>
        </table>
      </form>
    </div>
    </div>
  </div>
</div>
</block>