<extend name="Public:base"/>


<block name="main">
<div id="yzh-content" class="col-xs-12">
    <div class="main-title">
        <h2>会员列表</h2>
    </div>

    <div class="table-actions">
        <a class="btn btn-sm btn-primary" href="{:U('Member/add')}"> 新增</a>
        <input type="submit" class="btn btn-sm btn-primary" name="dosubmit" value="删除" />
    </div>

    <form name="myform" action="{:U('Member/deleteall')}" method="post">
    <table class="table">
        <thead>
            <tr>
            <th><input type="checkbox"  id="check_box"  onclick="selectall('ids[]');" /></th>
            <th>ID</th>
            <th>用户名</th>
            <th>邮箱</th>
            <th>会员组</th>
            <th>{:L('user_reg_time')}</th>
            <th>{:L('status')}</th>
            <th width="120">操作管理</th>
            </tr>
        </thead>
        <tbody>

        <volist name="ulist" id="user" key="k">
        <tr>
          <td><input type="checkbox" name="ids[]" value="{$user['id']}" /></td>
          <td>{$user['id']}</td>
          <td>{$user['username']}</td>
          <td>{$user['email']}</td>
          <td>{$user['groupname']}</td>
          <td>{$user['createtime']|date="Y-m-d H:m:s",###}</td>
          <td>
          <eq name="user['status']" value="1">
          {:L('enable')}
          <else />
          {:L('disable')}
          </eq>
          </td>
          <td>
          <a href="{:U('Member/edit',array(id=>$user['id']))}">编辑</a> |
          <a href="javascript:confirm_delete('{:U('Member/delete',array(id=>$user['id']))}')">{:L('delete')}</a>
          </td>
        </tr>
      </volist>

      </tbody>
    </table>
    </div>
    </form>
    <div class="row">
    <div id="pages">{$page}</div>
    </div>
</div>
</block>